<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
<div id="notif-toast-container"></div>
<button class="dark-toggle" onclick="toggleDark()"> <i class="fa-solid fa-moon"></i> </button>

<div class="top-right">
    <div class="notification" onclick="openNotifications()">
        <i class="fa-solid fa-bell"></i>
        <span id="notifCount" class="badge" style="display:none">0</span>
    </div>

    <div class="profile-section">
        <span class="hello-text" th:text="|Hello, ${firstName}|"></span>
        <a href="/profile">
            <i class="fa-solid fa-circle-user profile-icon"></i>
        </a>
    </div>
</div>

<div class="container">
<h2>Welcome <br> to <br> Mobile Money</h2>

    <div class="tiles">
        <div class="tile">
            <h4>Balance</h4>
            <div class="value">KES <span id="balanceValue">0</span></div>
        </div>

    </div>

    <ul>
    <li><a href="/wallet">Wallet</a></li>
    <li><a href="/send-money">Send Money</a></li>
    <li><a href="/airtime">Buy Airtime</a></li>
    <li><a href="/transactions-history">Transactions History</a></li>
</ul>

<form th:action="@{/logout}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit">Logout</button>
</form>


    <div id="toast" class="toast"></div>

    <script>
function loadBalance() {
    fetch("/api/v1/wallet/balance")
        .then(res => {
            if (!res.ok) throw new Error();
            return res.json();
        })
        .then(balance => {
            document.getElementById("balanceValue").innerText = balance;
        })
        .catch(() => {
            showToast("Failed to load balance", true);
        });
}

window.onload = loadBalance;

</script>

</div>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>  <!-- define-SockJS -->
<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script> <!--    define Stomp -->
<script src="/js/app.js"></script> <!--loaded after DOM. Guarantees DOM exists-->
</body>
</html>
